<%- include('../includes/register/loginHead.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<!--================Login Box Area =================-->

<section class="login_box_area section-margin">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                
                <div class="login_form_inner">
                    <form class="row login_form" method="POST" action="/change-password" id="register_form"  >

                        
                        <% if( err.length > 0 ) { %>
                            <div class="col-md-12 form-group" >
                              <label id="errDiv"  
                              style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);" 
                              for=""><%= err %></label>
                            </div>
                        <% } %>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Enter Old Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Old password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter new password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button
                                type="submit"
                                value="submit"
                                class="button button-register w-100"
                            >
                                Submit
                            </button>
                            
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->






<script>
    document.querySelector('#register_form').addEventListener('submit',async function(event) {
      event.preventDefault(); // Prevent the form from submitting
  
      var err = document.getElementById('errDiv')
      if(err){
      err.style.display = 'none'
      }
      // Get form input values

      var password = document.getElementById('password').value;
      var confirmPassword = document.getElementById('confirmPassword').value;
  
      // Remove any existing error messages
      var errorMessages = document.querySelectorAll('.error-message');
      errorMessages.forEach(function(errorMessage) {
        errorMessage.remove();
      });
  
      var hasError = false; // Track if there is any error
  
              // Regular expression for password validation
              var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  
              if (!passwordRegex.test(password)) {
                // Password is invalid, display an error message
                var passwordErrorMessage = document.createElement('div');
                passwordErrorMessage.className = 'col-md-12 form-group error-message';
                passwordErrorMessage.innerHTML = `
                  <label   
                    style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
                    for="password"
                  >
                    Password should contain at least 8 characters, including uppercase letters, lowercase letters, numbers, and symbols
                  </label>
                `;
                var form = document.querySelector('#register_form');
                form.insertBefore(passwordErrorMessage, form.firstChild);
                hasError = true;
              } else 
                if( password !== confirmPassword ){
                    
                    var passwordErrorMessage = document.createElement('div');
                    passwordErrorMessage.className = 'col-md-12 form-group error-message';
                    passwordErrorMessage.innerHTML = `
                    <label   
                        style="border: 1px solid rgb(196, 0, 0); padding: 15px 0; width: 100%; background-color: rgb(255, 172, 172); color: rgb(196, 0, 0);"
                        for="password"
                    >
                        Password not match
                    </label>
                    `;
                    var form = document.querySelector('#register_form');
                    form.insertBefore(passwordErrorMessage, form.firstChild);
                    hasError = true;
                }
            

  
      
        if (!hasError) {
        try {
          
            const response = await fetch('/change-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    oldpassword: document.getElementById('oldpassword').value,
                    password: document.getElementById('password').value,
                    confirmPassword: document.getElementById('confirmPassword').value,
                }),
            });

            const data = await response.json();
           
            if (data.success) {
                
              
                Swal.fire({
                    icon: 'success',
                    title: 'Password Changed',
                    text: 'Your password has been successfully changed!',
                }).then(() => {
                    
                    window.location.href = '/user/profile';
                });
            }else if(data.oldpasswordwrong){
                Swal.fire({
                    icon: 'danger',
                    title: 'Password wrong',
                    text: 'Old password is wrong',
                });

            } else {
                // Handle server error or other cases...
                console.error(data.error || 'Server Error');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
});
      

  </script>

<%- include('../includes/register/loginEnd.ejs') %>